/*======================================= Nav bar ==============================================*/

#call {
    color: gray;
    line-height: 20px;
    padding: 5px 0px;
}


/*======================================= Main Content ==============================================*/

body {
    background-image: url("bg.jpg");
    background-size: cover;
}

article {
    height: 1000px;
    overflow: auto;
    /* background-color: aliceblue; */
  
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    text-wrap: wrap;
}

.row1 {
    padding-top: 55px;
    display: block;
    height: 300px;
    max-width: 600px;   
    float: left;
}


.thumbnail {
    border-radius: 25px;
    box-shadow: -4px 4px 3px rgb(224, 195, 195);
}

#thumbnail1 {
    border-radius: 25px;
    padding-top: 55px;
}

#img-float {
    position: absolute;
    z-index: 2;
    left: 35%;
    top: -30px;
}

#img-float1 {
    position: absolute;
    z-index: 2;
    left: 35%;
    top: -5px;
    padding-top: 20px;
}


.caption {
     text-align: center;
}

.row2 {
    padding-top: 55px;
    display: block;
    height: 300px;
    text-align: center;
}

.row3 {
    padding-top: 55px;
    display: block;
    height: 300px;
    max-width: 600px;   
    float: right;
}
.row4 {
    padding-top: 120px;
    display: block;
    height: 300px;
    max-width: 600px;   
    float: left;
}

#img1 {

    display: block;
    height: 300px;
    padding: 35px;
    width: 450px;
    float: right;
}
#img3 {
    display: block;
    height: 300px;
    padding-left: 80px;
    padding-top: 50px;
    float: left;
}
#img4 {
    display: block;
    height: 300px;
    padding-right: 80px;
    padding-top: 120px;
    float: right;
}

.timeline {
    display: inline-block;
    padding: 2em 3em 1em 3em;
}




/*======================================= Footer ==============================================*/

.footer {
    background-color: rgb(168, 168, 211);
    color: white;
    text-align: center;
}

#highlight {
    background-color: rgb(236, 206, 236);
    color: rgb(168, 105, 187);
    display: inline;
    border-radius: 10px;
    padding: 2px 10px;
}

#content {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: xx-large;
}